.app {
  padding: 50px 0px;
  display: flex;
  justify-content: space-around;
}

.forms {
  width: 40vw;

  display: flex;
  flex-direction: column;
  gap: 50px;
}

.education-forms,
.experience-forms {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.previews {
  width: 40vw;
}

.print {
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  top: 50px;
  right: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.print:hover {
  cursor: pointer;
}

.print h5 {
  color: red;
  margin: 0;
  padding: 0;
}

.preview {
  margin-bottom: 50px;
}
