.preview {
  font-family: "Computer Modern Serif", "Times New Roman", Times, serif;

  width: inherit;
}

img {
  border-radius: 50%;
  width: 120px;
}

@media print {
  body {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
