@import url("./card.css");

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

@media screen and (min-width: 960px) {
  :root {
    padding: 50px;
  }
}

@media screen and (max-width: 960px) {
  :root {
    padding: 10px;
  }
}
