a {
  color: greenyellow;
  text-decoration: none;
}

a:hover {
  color: red;
}

a:active {
  color:white;
}

#main-list{
  list-style-type: "cd ";
  padding: 10;
}

*{
  background-color: black;
  color: greenyellow;
  font-family: monospace;
}

p, li{
  color: white;
}

a.go-parent{
  color: red;
  font-weight: bold;
}

a.go-parent:hover{
  color:palevioletred;
}

a.go-parent:active{
  color:white;
}
img {
  max-width: 30%;
  height: auto;
}

ul{
  list-style-type: "~ ";
}