extends layout
include mixins/error

block content
    form(method='POST' ).container
        div.form-group
            label.form-label Name:
                input.form-control.mt-1(type='text' placeholder='Name' name='name'
                required='true' value=`${previousName ? previousName : ''}`)
        button.btn.btn-primary.mt-2(type="submit", name="submit") Add
        +printErrors(errors)