doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.min.css')
  body
    .container-fluid
        nav.navbar.navbar-expand-sm.bg-light
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href="/perfumes" class="link-primary") Perfume List
                li.nav-item
                    a.nav-link(href="/categories" class="link-primary") Category List
                li.nav-item
                    a.nav-link(href="/brands" class="link-primary") Brand List
                li.nav-item
                    a.nav-link(href="/stocks" class="link-primary") Stock List