extends layout

mixin item(item)
    .item
        .item-name
            a(href=`${item.url}`) #{item.name}
        .item-category
            | #{item.category}
        .item-description
            | #{item.description}

block content
    a(href="/perfumes/add") Add Perfume
    ul
    each item of items
        li
            +item(item)