:root {
  --calculator-bg: #000000;
  --text-color: #f3f2f8;
  --number-bg: #363636;
  --top-row-bg: #a4a4a4;
  --op-bg: #ff9e2d;
  --button-size: 65px;
  --font-size: 22px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  height: 100vh;
  font-size: var(--font-size);
}

.calculator {
  display: flex;
  flex-direction: column;
  border-radius: 2%;
  width: min-content;
  background-color: var(--calculator-bg);
  color: var(--text-color);

  padding: 10px;
  padding-top: 60px;
  gap: 5px;

  margin-top: -20vh;
}

#screen {
  text-align: right;
  height: 38px;
  font-size: 37px;
  margin-bottom: 10px;
  margin-right: 10px;
  max-width: inherit;
}

.row {
  display: flex;
  gap: 5px;
}

.top-row .item {
  background-color: var(--top-row-bg);
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--number-bg);
  height: var(--button-size);
  width: var(--button-size);
  text-align: center;
  cursor: pointer;
}

#divide {
  background-color: var(--op-bg);
}

.op {
  background-color: var(--op-bg);
}

.result{
  background-color: var(--op-bg);
}