body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;

  border: 1px solid black;
  border-radius: 5%;

  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 32px;
}
