@import url("popup.css");

:root {
  --bg-color: #66462c;
  --text-color: #efd6ac;

  --error-color: #f03a47;
  --valid-color: #51cb20;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.top {
  display: flex;
  justify-content: center;
  margin-top: 1vv;
  padding: 1vh 1vw;
}

.title {
  font-size: 48px;
}

#library {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 5em;
}

.book-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;

  width: min-content;

  border-radius: 10px;
  border-radius: 40px 5px 5px 40px;

  cursor: pointer;
  position: relative;

  border: 8px solid black;
  border-left: 30px solid black;
}

.book-card .title {
  font-size: 32px;
  font-weight: bold;
}

.book-card .author {
  font-size: 24px;
  font-style: italic;
}

.book-card .page {
  order: 100;
  align-self: center;
}

#add-book {
  margin-right: 1vw;
  position: absolute;
  top: 10vh;
  right: 6vw;

  font-size: 32px;
  font-weight: bold;

  border-radius: 50%;
  border: 0px solid var(--border-color);

  color: var(--bg-color);
  background-color: var(--text-color);

  width: 50px;
  height: 50px;

  cursor: pointer;

  font-family: sans-serif;
}

.close-button {
  font-size: 32px;
  font-weight: bold;

  border: 0px;
  border-radius: 10%;

  background-color: inherit;
  color: white;

  order: -1;
  align-self: flex-end;

  cursor: pointer;
  margin-right: -20px;
}

#delete-book {
  color: red;
  font-weight: bold;
  font-size: 1em;
  margin-right: -10px;
  margin-top: -10px;
  margin-bottom: -1.5em;
}
