@import url("popup.css");
@import url("book.css");
@import url("toolbar.css");

:root {
  --bg-color: #66462c;
  --text-color: #efd6ac;

  --error-color: #f03a47;
  --valid-color: #51cb20;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  display: flex;
}

.top {
  display: flex;
  justify-content: center;
  margin-top: 1vv;
  padding: 1vh 1vw;
}

.title {
  font-size: 48px;
}

#library {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 5em;
}

.close-button {
  font-size: 32px;
  font-weight: bold;

  border: 0px;
  border-radius: 10%;

  background-color: inherit;
  color: white;

  order: -1;
  align-self: flex-end;

  cursor: pointer;
  margin-right: -20px;
}

#delete-book {
  color: red;
  font-weight: bold;
  font-size: 1em;
  margin-right: -10px;
  margin-top: -10px;
  margin-bottom: -1.5em;
}
