#hero.c-cont {
  background-color: #1f2937;
  gap: 72px;
  padding: 100px 0px;
}

.hero-sign-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 30vw;
}

.hero-sign-container h2 {
  font-size: 48px;
  font-weight: bold;
  margin: 0px;
  color: #f9faf8;
}

.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-sign-container button {
  background-color: #3882f6;
  color: white;
  font-weight: bold;
  padding: 8px 24px;
  border: 0px;
  margin: 20px 0px;
  border-radius: 5px;
}

.image-placeholder {
  width: 450px;
  height: 200px;
  flex-shrink: 0px;
  background-color: #6c747c;
  color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
}
