#register {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8vh 0px;
}

.register-card {
  display: flex;
  justify-content: space-between;
  gap: 8vw;

  background-color: #3882f6;
  border-radius: 8px;
  color: white;

  padding: 40px 60px;
}

.register-text h3 {
  font-weight: bold;
}

.register-card button {
  background-color: inherit;
  color: white;
  border: 2px solid white;
}
