@import "css-reset.css";
@import "general.css";
@import "header.css";
@import "main.css";
@import "info.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;800&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.flex-ul {
  list-style: none;
  display: flex;
  gap: 16px;
  padding: 0px;
  margin: 0px;
}

.push-right {
  margin-left: auto;
}
