#tool-bar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 14px;

  width: min-content;
  height: min-content;
  border-radius: 10px;

  background-color: #a39085;

  user-select: none;
}

#tool-bar button,
#label-file {
  margin: 0px;

  font-size: 19px;
  font-weight: bold;

  border-radius: 50%;
  border: 0px solid var(--border-color);

  color: var(--bg-color);
  background-color: var(--text-color);

  width: 2.1em;
  height: 2.1em;

  cursor: pointer;

  font-family: sans-serif;
}

/* Hide input */
#load-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
}

#label-file {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pressed {
  background-color: #bea788ad !important;
}
