@font-face {
  font-family: "MinuetW01-Regular";
  src: url("./Minuet\ W01\ Regular.ttf");
}

:root {
  --main-border-color: #dc0028;
  --button-gold-color: #fdfc01;

  /* Pixel Values */
  --pixel-empty: white;
  --pixel-filled: black;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 1vh;

  font-family: sans-serif;

  margin-left: -10vw;
}

.toy {
  display: flex;
  flex-direction: column;
  gap: 2vh;

  background-color: var(--main-border-color);

  padding: 0px 6vh;
  border-radius: 5%;

  margin-left: -20vw;
  margin-top: -5vh;
}

.top {
  display: flex;
  min-height: 5vh;
  justify-content: center;
  align-items: center;
}

#main-button {
  font-family: "MinuetW01-Regular";
  font-size: 2em;

  color: var(--button-gold-color);
  background-color: var(--main-border-color);

  border: 1px solid var(--button-gold-color);
  border-radius: 10px;
}

#main-button:hover {
  background-color: #aa1c2a;
}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  background-color: white;

  display: flex;
  flex-direction: column;

  width: 50vh;
}

.board-row {
  display: flex;
}

.pixel {
  display: inline-block;
  background-color: var(--pixel-empty);
  flex: 1 0 auto;
  height: auto;
  border: 1px gray solid;
}
/* https://carlanderson.xyz/how-to-keep-your-flexbox-square/ */
.pixel:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.pixel-filled {
  background-color: var(--pixel-filled);
}

.knobs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 10vw; */

  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: -1.5vw;
  margin-right: -1.5vw;
}

.left,
.right {
  width: 75px;
  height: 75px;
  background-color: white;
  border-radius: 50%;
}
