@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

:root {
  --main-a: #00eafd;
  --main-b: #ff4ae3;
  --text: #fcefee;
  --background: black;
  --result-win: #31d62b;
  --result-draw: #9db4c0;
  --result-lose: #e22228;
}

body {
  padding: 0px;
  margin: 0px;

  display: flex;
  flex-direction: column;

  background-color: black;
  color: var(--text);

  font-family: "Courier New", Courier, monospace;

  height: 100vh;
}

.title {
  color: white;
  text-align: center;
  font-size: 48px;

  font-family: "Rubik Mono One", sans-serif;

  letter-spacing: 2px;
  text-shadow: -4px 0px 1px var(--main-b), 4px 0px 1px var(--main-a);

  margin-top: 5vh;
  margin-bottom: 10vh;
}

#forms {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
}

#forms img {
  float: left;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

#forms img:hover {
  transform: scale(1.01);
}

#scores {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 5vh;
}

#scores h2 {
  font-size: 30px;
}

#scores p {
  font-family: "Rubik Mono One", sans-serif;
  font-family: monospace;
  font-size: 32px;
}

footer {
  margin-top: auto;
  color: #ff4ae3;
  font-size: 20px;
}

footer a {
  color: greenyellow;
  text-decoration: none;
}

footer a:hover {
  color: rgb(135, 209, 23);
}

footer a:active {
  color: white;
}

#round-result {
  text-align: center;
  font-size: 32px;
}

.win {
  color: var(--result-win);
}

.draw {
  color: var(--result-draw);
}
.lose {
  color: var(--result-lose);
}
